# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm
.npmrc

# Optional REPL history
.node_repl_history

# IDE / Editor
.idea

# macOS
.DS_Store

# Vim swap files
*.swp

# elm output
elm-stuff